In [5]:
import requests
import pandas as pd

In [9]:
page = requests.get('http://193.246.68.117:8080/gp/GP?type=EXPORT&indikatoren=373&raumtyp=1&text=yes')

In [23]:
zuri_json = page.json()

In [25]:
zuri_json.keys()

dict_keys(['RAUM', 'INDIKATOR'])

In [26]:
raum_json = zuri_json['RAUM']

In [29]:
indi_json = zuri_json['INDIKATOR']

In [33]:
indi_json

{'INDIKATOR_DESC': 'Leerstehende Wohnungen am 1. Juni des Erhebungsjahres, gemessen am Wohnungsbestand Ende Vorjahr',
 'INDIKATOR_EINHEIT': '%',
 'INDIKATOR_ID': 373,
 'INDIKATOR_JAHRE': [1984,
  1985,
  1986,
  1987,
  1988,
  1989,
  1990,
  1991,
  1992,
  1993,
  1994,
  1995,
  1996,
  1997,
  1998,
  1999,
  2000,
  2001,
  2002,
  2003,
  2004,
  2005,
  2006,
  2007,
  2008,
  2009,
  2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018],
 'INDIKATOR_NAME': 'Leerwohnungsquote [%]',
 'INDIKATOR_QUELLE': 'BFS, Leerwohnungszählung'}

In [30]:
raum_df = pd.io.json.json_normalize(raum_json)

In [35]:
raum_df.head()

,ALLE_JAHRE,ALLE_WERTE.1984,ALLE_WERTE.1985,ALLE_WERTE.1986,ALLE_WERTE.1987,ALLE_WERTE.1988,ALLE_WERTE.1989,ALLE_WERTE.1990,ALLE_WERTE.1991,ALLE_WERTE.1992,...,ALLE_WERTE.2013,ALLE_WERTE.2014,ALLE_WERTE.2015,ALLE_WERTE.2016,ALLE_WERTE.2017,ALLE_WERTE.2018,BFS,DATEN_VORHANDEN,RAUMEINHEIT_ID,RAUMEINHEIT_NAME
0,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201...",1.49,3.62,2.67,2.60,1.27,0.61,0.00,2.30,2.79,...,1.69,0.82,2.30,0.72,1.79,0.34,21,TRUE,15,Adlikon
1,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201...",0.10,0.28,0.00,0.29,0.08,0.00,0.00,0.03,0.49,...,0.89,0.44,0.77,0.65,0.86,0.90,131,TRUE,94,Adliswil
2,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201...",0.63,0.00,3.70,0.00,0.00,0.00,0.00,0.00,0.00,...,1.17,1.09,1.08,6.12,0.83,4.38,241,TRUE,160,Aesch ZH
3,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201...",0.64,0.32,0.31,0.00,0.30,0.00,0.00,0.64,1.06,...,0.47,1.60,2.05,2.15,2.60,1.55,1,TRUE,1,Aeugst a.A.
4,"[2018, 2017, 2016, 2015, 2014, 2013, 2012, 201...",0.67,0.64,0.37,0.11,0.27,0.13,0.08,0.08,0.16,...,0.42,0.59,0.82,0.77,1.21,1.46,2,TRUE,2,Affoltern a.A.

In [31]:
indi_df = pd.io.json.json_normalize(indi_json)

In [32]:
indi_df.head()

,INDIKATOR_DESC,INDIKATOR_EINHEIT,INDIKATOR_ID,INDIKATOR_JAHRE,INDIKATOR_NAME,INDIKATOR_QUELLE
0,Leerstehende Wohnungen am 1. Juni des Erhebung...,%,373,"[1984, 1985, 1986, 1987, 1988, 1989, 1990, 199...",Leerwohnungsquote [%],"BFS, Leerwohnungszählung"